// FONTS
$default-font: "opensans", sans-serif

//COLORS
$accent: #D11715
$white: #ffffff
$black: #000000
$athens-gray: #EEF2F4

//COLORS-TEXT
$white-text: #ffffff
$black-text: #000000
$tundora: #4b4b4b
$basket-orange: #FF6D00

//SIZES
$base-font-size: 14px
$content-size: 1140px
